.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #010606;
}

.image {
  width: 80%;
  height: 80%;
  margin-left: 70px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .slider {
    height: 800px;
  }
}

@media (max-width: 868px) {
  .image {
    margin-left: 0px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }

 
}

@media (max-width: 608px) {
  .image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  color: #777;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: #777;
}

@media (max-width: 508px) {
  .right-arrow {
    top: 80%;
  }
  .left-arrow {
    top: 80%;
  }
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 400px) and (max-height: 840px) {
  .slider {
    height: 1000px;
  }
}